body {
    padding-top: 100px;
    font-family: Arial, sans-serif; /* Here if Arial is not available any sans-serif font will be applied */
    color: #333; /* The color mentioned here is for text */
}


/* Footer */
#footer-p {
    padding: 30px 0; 
}